rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function getRole() {
      return get(/databases/$(database)/documents/roles/$(request.auth.token.email)).data.role;
    }
  
    match /users/{userId} {
      allow read: if request.auth != null; // other users can request a specific member. 
      allow create: if request.auth != null;
      allow update: if getRole() == 'admin' || request.auth.uid == userId;
      allow list, delete: if getRole() == 'admin';
    }

    match /roles/{email} {
    	allow read: if request.auth != null;
    }
    
    match /opportunities/{opportunityId} {
    	allow read: if request.auth != null;
      allow create: if request.auth != null && request.resource.data.creatorId == request.auth.uid;
      allow update, delete: if getRole() == 'admin' || resource.data.creatorId == request.auth.uid || getRole() == 'member'; //TODO: change to update with cloud function instead of allowing member
    }
    
    match /approvals/{approvalId} {
      allow create: if getRole() != "member";
      allow read, list, update, delete: if getRole() == "admin";
    }
  }
}